body {
  background-color: #FFB443;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 30px;
  font-family: 'Ubuntu';
}

div {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

input {
  background-color: #f6f6f6;
  border: 3px solid black;
  border-radius: 7px;
  padding: 8px;
  font-family: 'Ubuntu';
  font-size: 18px;
}

input:focus {
  
}

button {
  padding: 10px 25px;
  font-family: 'Ubuntu';
  font-size: 18px;
  background-color: #131313;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}

button:hover {
  background-color: #262626;
}

button:active {
  background-color: #131313;
}

label {
  font-size: 24px;
  padding-right: 20px;
}
